body {
  max-width: 1050px;
  margin: 0 auto;
}

ul.bookmarks {
  padding: 0;
}

li.bookmark-item {
  list-style-type: none;
  border-radius: 23px;
  border: 2px solid black;
  margin-top: 20px;
}

li.bookmark-item:first {
  margin-top: 0;
}

a.bookmark-header-link {
  text-decoration: none;
  color: initial;
}

li.bookmark-item header {
  background-color: lightblue;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  height: 45px;
  cursor: pointer;
}

li.bookmark-item header.expanded {
  background-color: darkblue;
  color: white;
}

p.description {
  font-family: Arial, Helvetica, sans-serif; 
}

.header-text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  left: 15px;
  top: 15px;
}

.bookmark-item p {
  margin-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.rating {
  font-size: 14pt;
  unicode-bidi: bidi-override;
  direction: rtl;
  padding: 15px;
}

.rating > span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
